#*
.#*
TAGS
auto-save-list
elpa
elpy
eshell
snippets
transient
recentf
bookmarks
history
tramp
url
ido.last
smex-items
projects
projectile-bookmarks.eld
pyim
package-quickstart.el
custom.el
.mc-lists.el
